# Ignore all downloaded weight files
*.pt

# Ignore roboflow dataset and other data
datasets/
runs/
custom_data/

# Ignore jupyter checkpoints
**/*.ipynb_checkpoints/

# Ignore file containing api keys
.env

# Ignore all __pycache__ folders in any subdirectory
__pycache__/
